<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>YAO'S ANIMALS</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="error" dark class="mb-2" @click="deleteItems">Delete Items</v-btn>
          <v-btn color="success" dark class="mb-2" @click="initialize">Initialize</v-btn>
          <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ getFormTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.name" label="Name" placeholder="Amy"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.type" label="Type" placeholder="Lion"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.age" label="Age" placeholder="Number"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.weight" label="Weight (kg)" placeholder="Number"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="closeDialog">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <!--divider-->
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="this.$store.getters.getAnimalsRawData"
      :pagination.sync="pagination"
      select-all
      item-key="name"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <tr :active="props.selected" @click="props.selected = !props.selected">
          <td>
            <v-checkbox :input-value="props.selected" primary hide-details></v-checkbox>
          </td>
          <td class="text-xs-left">{{props.item.name}}</td>
          <td class="text-xs-left">{{props.item.type}}</td>
          <td class="text-xs-left">{{props.item.age}}</td>
          <td class="text-xs-left">{{props.item.weight}}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="recordEditItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="deleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import AnimalsTableConfig from './AnimalsTableConfig.js'

export default {
  data: function () {
      return {
        dialog: false,
        pagination: {
          sortBy: 'name'
        },
        selected: [],
        headers: AnimalsTableConfig.headers,
        editedIndex: -1,
        editedItem: this.jsonCopy(AnimalsTableConfig.defaultItemDataSet),
        defaultItem: this.jsonCopy(AnimalsTableConfig.defaultItemDataSet)
      }
    },

  methods: {
    jsonCopy (src) {
      return Object.assign({},src)
    },

    toggleAll () {
      if (this.selected.length) this.selected = []
      else this.selected = this.animals.slice()
    },

    recordEditItem (item) {
      this.editedIndex = this.$store.state.animals.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      confirm('Are you sure you want to delete this item?') && this.$store.dispatch('deleteItem',item)
    },

    deleteItems () {
      let items = {items: this.selected}
      if (this.selected.length > 0)
      confirm('Are you sure you want to delete this item?') && this.$store.dispatch('deleteItems', items)
      else alert('請勾選動物！')
    },

    save () {
      this.toSave().then(() => {
        //利用toSave方法儲存完畢後，利用closeDialog進行關閉及reset
        this.closeDialog()
      })
    },

    toSave () {
      return new Promise((resolve) => {
        if (this.isEdittingOrNewItem) {
          let Item = {index: this.editedIndex, item: this.editedItem}
          this.$store.dispatch('setEditedItem', Item)
          resolve("Stuff worked!");
        } else {
          this.$store.dispatch('addNewItem',this.editedItem)
          resolve("Stuff worked!");
        }
      })
    },

    closeDialog () {
      this.dialog = false
      this.editedItem = Object.assign({}, this.defaultItem)
      this.editedIndex = -1
    },

    initialize () {
      this.$store.dispatch('initialize')
    }
  },

  computed: {
    getFormTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },

    isEdittingOrNewItem () {
      return this.editedIndex > -1 ? true : false
    }
  },

  created () {
    this.$store.dispatch('initialize')
  }
}
</script>
