<template>
  <div class="home">
    <div class="imgContainer">
      <img alt="Vue logo" src="../assets/newProfile.jpg" id="profile">
      <div class="top-left">YOAN's ZOO</div>
    </div>
    <IntroMyself msg="Welcome to YOAN's Vue.js App"/>
  </div>
</template>

<script>
import IntroMyself from '@/components/IntroMyself.vue'

export default {
  name: 'home',
  components: {
    IntroMyself
  }
}
</script>

<style>
#profile {
  width: 100%;
  height: 800px;
}

.top-left {
  position: absolute;
  top: 30px;
  left: 50px;
}

.home {
  width: 100%;
}

.imgContainer {
  width: 100%;
  position: relative;
  color: white;
  font-size: 100px;
}
</style>
