<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs4>
        <v-card id="zoo-card" height="440px">
        </v-card>
      </v-flex>
      <v-flex xs8>
        <app-animals-table/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AnimalsTable from '@/components/AnimalsTable/AnimalsTable.vue'

export default {
  name: 'about',
  components: {
    'app-animals-table': AnimalsTable
  }
}
</script>

<style>
#zoo-card {
  background-image: url("../assets/zoo-logo.jpg");
  background-size: cover;
  height: 100%;
}
</style>
